attrs==19.1.0
Automat==0.8.0
certifi==2019.3.9
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==3.3.2
cssselect==1.1.0
decorator==4.4.0
graphviz==0.10.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipython-genutils==0.2.0
jsonschema==3.0.1
jupyter-core==4.4.0
lxml==4.6.3
nbformat==4.4.0
networkx==2.3
numpy==1.16.4
parsel==1.5.2
plotly==3.10.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
pygraphviz==1.5
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pyrsistent==0.15.2
pytz==2019.1
queuelib==1.5.0
requests==2.22.0
retrying==1.3.3
Scrapy==1.8.0
service-identity==18.1.0
six==1.12.0
tqdm==4.28.1
traitlets==4.3.2
Twisted==19.10.0
urllib3==1.26.5
w3lib==1.21.0
zope.interface==4.7.1
